#main {
    width: 100%;
}
.product-form {
    width: 50%;
    margin: 50px auto;
    font-size: 15px;

}
.product-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.product-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 10px;
    font-size: 13px;
    height: 10px;
}
label{
    font-weight: bold;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
small{
    color: red;
    font-style: italic;
}

button[type="button"] {
        width: 280px;
        font-size: 16px;
    }
div.alert-success{
    text-align: center;
}
div.alert-danger{
    text-align: center;
}