#container{
    width: 100%;
    position: relative ;
}
#table{
    width: 90%;
    position: absolute;
    top: 150px;
    left: 5%;
}
h4{
    font-family: 'Lato', Arial, sans-serif ;
    font-weight: bolder;
    text-align: center;
    width: 30%;
    margin: 50px auto;



}
a{
    color:#0e90d2 ;
}

td, th{
    text-align: center;
}
alert-danger,alert-success{
    text-align: center;
    font-weight: bold;
    font-size: 15px ;
}


