:root {
  --km-primary: #0fb59f;
  --km-secondary: #ffae02;
  --km-bg: #f5f5f5;
  --km-black: #222222;
}

#km-header *:focus {
  outline: none;
}

#km-header {
}

#km-header .navbar {
  display: flex;
  flex-flow: column;
}

#km-header .navbar .km-navbar-brand {
  padding: 20px 0;
  width: 100%;
  background-color: #ffffff;
}

#km-header .navbar .km-navbar-brand .navbar-toggler {
  padding: 0;
  color: var(--km-primary);
}

#km-header .navbar .km-navbar-brand .container {
  position: relative;
  display: block;
  margin: 0 auto;
}

#km-header .navbar .km-navbar-brand .km-navbar-brand-btn-container {
  position: absolute;
  right: 0;
  top: 20%;
}

#km-header .navbar .km-navbar-brand .km-navbar-brand-btn-container a {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border: 1px solid var(--km-primary);
  padding: 10px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  text-decoration: none;
  font-weight: bold;
  transition: .3s all;
}

#km-header .navbar .km-navbar-brand .km-navbar-brand-btn-container a:first-child, #km-header .navbar .km-navbar-brand .km-navbar-brand-btn-container a:last-child:hover {
  background-color: var(--km-primary);
  color: #ffffff;
}

#km-header .navbar .km-navbar-brand .km-navbar-brand-btn-container a:first-child:hover, #km-header .navbar .km-navbar-brand .km-navbar-brand-btn-container a:last-child {
  color: var(--km-primary);
  background-color: #ffffff;
}

#km-header .navbar .km-navbar-menu {
  background-color: var(--km-primary);
  width: 100%;
  text-align: center;
}

#km-header .navbar .km-navbar-menu .navbar-nav {
}

#km-header .navbar .km-navbar-menu .navbar-nav .nav-item {
  padding: 0 25px;
}

#km-header .navbar .km-navbar-menu .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 18.5px 0 12.5px 0;
  border-bottom: 5px solid transparent;
  transition: .3s all;
  font-weight: bold;
  letter-spacing: 1px;
}

#km-header .navbar .km-navbar-menu .navbar-nav .nav-item .nav-link:hover {
  border-color: #ffffff;
}

#km-header .navbar .km-navbar-menu .navbar-collapse {
  position: relative;
}

#km-header .navbar .km-navbar-menu .navbar-nav .km-cart {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

#km-header .navbar .km-navbar-menu .navbar-nav .km-cart .nav-link {
  position: relative;
  padding-top: 8px;
}

#km-header .navbar .km-navbar-menu .navbar-nav .km-cart i {
  position: relative;
  top: 5px;
}

#km-header .navbar .km-navbar-menu .navbar-nav .km-cart span {
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: -15px;
  border-radius: 100%;
  width: 20px;
  display: inline-block;
  font-size: 13px;
}

@media (max-width:595px) {
  .km-px-0 {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width:595px) {
  #km-header .navbar .km-navbar-brand .navbar-brand {
    max-width: 40%;
    margin: 0;
  }
}

@media (max-width:595px) {
  #km-header .navbar .km-navbar-brand .km-navbar-brand-btn-container {
    right: 5%;
  }
}

@media (max-width:595px) {
  #km-header .navbar .km-navbar-brand .km-navbar-brand-btn-container a {
    font-size: 12px;
    width: 60px;
    padding: 5px 0;
  }
}

@media (max-width:595px) {
  #km-header .navbar .km-navbar-menu .navbar-nav .km-cart span, #km-header .navbar .km-navbar-menu .navbar-nav .km-cart {
    position: static;
  }
}

